@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light;

    --background: 0.9818 0.0054 95.0986;
    --foreground: 0.3438 0.0269 95.7226;
    --card: 0.9818 0.0054 95.0986;
    --card-foreground: 0.1908 0.002 106.5859;
    --popover: 1 0 0;
    --popover-foreground: 0.2671 0.0196 98.939;
    --primary: 0.6171 0.1375 39.0427;
    --primary-foreground: 1 0 0;
    --secondary: 0.9245 0.0138 92.9892;
    --secondary-foreground: 0.4334 0.0177 98.6048;
    --muted: 0.9341 0.0153 90.239;
    --muted-foreground: 0.6059 0.0075 97.4233;
    --accent: 0.9245 0.0138 92.9892;
    --accent-foreground: 0.2671 0.0196 98.939;
    --destructive: 0.1908 0.002 106.5859;
    --destructive-foreground: 1 0 0;
    --border: 0.8847 0.0069 97.3627;
    --input: 0.7621 0.0156 98.3528;
    --ring: 0.6171 0.1375 39.0427;
    --chart-1: 0.5583 0.1276 42.9956;
    --chart-2: 0.6898 0.1581 290.4107;
    --chart-3: 0.8816 0.0276 93.128;
    --chart-4: 0.8822 0.0403 298.1792;
    --chart-5: 0.5608 0.1348 42.0584;
    --sidebar: 0.9663 0.008 98.8792;
    --sidebar-foreground: 0.359 0.0051 106.6524;
    --sidebar-primary: 0.6171 0.1375 39.0427;
    --sidebar-primary-foreground: 0.9881 0 0;
    --sidebar-accent: 0.9245 0.0138 92.9892;
    --sidebar-accent-foreground: 0.325 0 0;
    --sidebar-border: 0.9401 0 0;
    --sidebar-ring: 0.7731 0 0;

    --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
      Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
      'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
      'Courier New', monospace;

    --radius: 0.5rem;

    --shadow-x: 0;
    --shadow-y: 1px;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.1;
    --shadow-color: oklch(0 0 0);
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);

    --tracking-normal: 0em;
    --spacing: 0.25rem;
  }

  .dark {
    color-scheme: dark;

    --background: 0.2679 0.0036 106.6427;
    --foreground: 0.8074 0.0142 93.0137;
    --card: 0.2679 0.0036 106.6427;
    --card-foreground: 0.9818 0.0054 95.0986;
    --popover: 0.3085 0.0035 106.6039;
    --popover-foreground: 0.9211 0.004 106.4781;
    --primary: 0.6724 0.1308 38.7559;
    --primary-foreground: 1 0 0;
    --secondary: 0.9818 0.0054 95.0986;
    --secondary-foreground: 0.3085 0.0035 106.6039;
    --muted: 0.2213 0.0038 106.707;
    --muted-foreground: 0.7713 0.0169 99.0657;
    --accent: 0.213 0.0078 95.4245;
    --accent-foreground: 0.9663 0.008 98.8792;
    --destructive: 0.6368 0.2078 25.3313;
    --destructive-foreground: 1 0 0;
    --border: 0.3618 0.0101 106.8928;
    --input: 0.4336 0.0113 100.2195;
    --ring: 0.6724 0.1308 38.7559;
    --chart-1: 0.5583 0.1276 42.9956;
    --chart-2: 0.6898 0.1581 290.4107;
    --chart-3: 0.213 0.0078 95.4245;
    --chart-4: 0.3074 0.0516 289.323;
    --chart-5: 0.5608 0.1348 42.0584;
    --sidebar: 0.2357 0.0024 67.7077;
    --sidebar-foreground: 0.8074 0.0142 93.0137;
    --sidebar-primary: 0.325 0 0;
    --sidebar-primary-foreground: 0.9881 0 0;
    --sidebar-accent: 0.168 0.002 106.6177;
    --sidebar-accent-foreground: 0.8074 0.0142 93.0137;
    --sidebar-border: 0.9401 0 0;
    --sidebar-ring: 0.7731 0 0;
  }
  * {
    @apply border-border;
  }

  html,
  body,
  #root {
    height: 100%;
  }

  body {
    @apply bg-background text-foreground;
    font-family: var(--font-sans);
  }
}

@media (max-width: 620px) {
  .versions {
    display: none;
  }
}

@media (max-width: 350px) {
  .tip,
  .actions {
    display: none;
  }
}
